{% extends "registration/registration_base.html" %}

{% block title %}BII | Activated{% endblock %}

{% block content %}
  <h1>Account activated.</h1>
  {% load humanize %}
  {% if account %}
    <p>Thanks for registering! Now you can <a href="{% url 'django.contrib.auth.views.login' %}">login</a>.</p>
  {% else %}
    <p>Sorry, it didn't work. Either your activation link was incorrect, or
    the activation key for your account has expired; activation keys are
    only valid for {{ expiration_days|apnumber }} days after
    registration.</p>
  {% endif %}
{% endblock %}