{% extends "registration/registration_base.html" %}
{% load widget_tweaks %}
{% block title %}BII | Login{% endblock %}

{% block content %}
<h1>Login</h1>
<form method="post" action="">

{% csrf_token %}

 {% if form.errors %}
        <p class="errors">Your username and password didn't match. Please try again.</p>
    {% endif %}

<dl>
<dt><label for="id_username">Username:</label>
{% if form.username.errors %} <span class="errors">{{ form.username.errors|join:", " }}</span>{% endif %}</dt>
{{ form.username|add_class:"field" }}
<dt><label for="id_password">Password:</label>
{% if form.password.errors %}<span class="errors">{{ form.password.errors|join:", " }}</span>{% endif %}</dt>
{{ form.password|add_class:"field" }}
<dt><input type="submit" class="btn btn-info" value="Login" />
    <a id="forgot_pass" href="{% url 'django.contrib.auth.views.password_reset' %}">Forgot password</a></dt>
</dl>
</form>
<p>Need an account, you can <a href="{% url 'registration.views.register' %}">register here</a>
{% endblock %}

