{% extends "registration/registration_base.html" %}
{% load widget_tweaks %}
{% block title %}BII | Register{% endblock %}

{% block content %}
<h1>Create an account</h1>

<form method="post" action="" class="wide">
	{% csrf_token %}
	<label for="id_username">Username:</label>
	{% if form.username.errors %}
	<p class="errors">
		{{ form.username.errors.as_text }}
	</p>
	{% endif %}
	{{ form.username|add_class:"field" }}
	<label for="id_email">Email address:</label>
	{% if form.email.errors %}
	<p class="errors">
		{{ form.email.errors.as_text }}
	</p>
	{% endif %}
	{{ form.email|add_class:"field" }}
	<label for="id_password1">Password:</label>
	{% if form.password1.errors %}
	<p class="errors">
		{{ form.password1.errors.as_text }}
	</p>
	{% endif %}
	{{ form.password1|add_class:"field"}}
	<label for="id_password2">Password (type again to catch typos):</label>
	{% if form.password2.errors %}
	<p class="errors">
		{{ form.password2.errors.as_text }}
	</p>
	{% endif %}
	{{ form.password2|add_class:"field" }}
	<p class="submit">
		<input class="btn btn-info" type="submit" value="Register">
	</p>
	<p>
		Already have an account, <a href="{% url 'django.contrib.auth.views.login' %}">login here</a>
	</p>
</form>

{% endblock %}
