{% load static from staticfiles %}
{% load compress %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}BII{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% compress css %}
    <link href="{% static 'libs/bootstrap/bootstrap/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'libs/jquery/toastmessage/css/jquery.toastmessage.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/base.css' %}" rel="stylesheet">
    {% block extracss %}{% endblock %}
    {% endcompress %}

    {% compress js %}
    <!-- JQuery -->
    <script src="{% static 'libs/jquery/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'libs/jquery/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'libs/jquery/toastmessage/jquery.toastmessage.js' %}"></script>
    <script src="{% static 'libs/jquery/jsapi.js' %}"></script>
    <script src="{% static 'libs/jquery/jQueryRotateCompressed.2.2.js' %}"></script>
    <script src="{% static 'libs/jquery/jquery.actual.min.js' %}"></script>
    <script src="{% static 'libs/jsonjs/json2.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'libs/bootstrap/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'base/js/base.js' %}"></script>
    <script>vars = {};
    vars.urls = {};</script>
    {% block extrascript %}{% endblock %}
    {% endcompress %}
    {% block no_compress_script %}{% endblock %}

</head>
<body>
<div class="container">
    <div id="top-container">
        <div class="navbar">
            <div id="top">
                <ul class="nav">
                    <li>
                        <div>
                            <a href="{% url 'browse.browse' 1 %}"><img src="{% static 'base/img/logo.png' %}" width="74"
                                                                       height="35"/></a>
                        </div>
                    </li>

                    <li>
                        <div id="searchbar">
                            <form class="well form-search">
                                <input type="text" placeholder="Search the BII" class="input-medium search-query">
                                <button type="submit" class="btn btn-info"><img
                                        src="{% static 'base/img/search_icon.png' %}">Search
                                </button>
                            </form>
                        </div>
                    </li>

                    {% if user.is_authenticated %}
                    <li id="user_profile" class="right">
                        <div class="left">
                            <img src="{% static 'base/img/profile.png' %}" width="30" height="30"/>
                        </div>
                        <div id="profile_dets" class="left">
                            <div><a id="username">{{user.username }}</a></div>
                            <div>
                                <a class="profile_dets"
                                   href="{% url 'bii_webapp.apps.accounts.views.profile' %}">Profile</a>
                                <span class="dividerVer">&nbsp;</span>
                                <a class="profile_dets"
                                   href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li id="login" class="right">
                        <div>
                            <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
                            <span class="dividerVer">&nbsp;</span>
                            <a href="{% url 'registration.views.register' %}">Register</a>
                        </div>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <div id="main-menu-container">
                <div id="main-menu">
                    <ul class="nav">
                        <li>
                            <a id="browse" href="{% url 'browse.browse' 1 %}"> <img
                                    src="{% static 'base/img/search.png' %}"/>

                                <p>
                                    Browse
                                </p></a>
                        </li>

                        <li>
                            <a id="create" href="{% url 'create.create' %}"> <img
                                    src="{% static 'base/img/create.png' %}"/>

                                <p>
                                    Create
                                </p></a>
                        </li>


                        <li>
                            <a id="upload" href="{% url 'upload.upload' %}"> <img
                                    src="{% static 'base/img/upload.png' %}"/>

                                <p>
                                    Upload
                                </p></a>
                        </li>

                        <!--<li>
                            <a id="files" href=""> <img src="{% static 'base/img/files.png' %}"/>

                                <p>
                                    Files
                                </p></a>
                        </li>   -->

                        <!--<li>
                            <a id="settings" href=""> <img src="{% static 'base/img/settings.png' %}"/>

                                <p>
                                    Settings
                                </p></a>
                        </li>-->
                        {% if user.is_authenticated %}
                        <li>
                            <a id="admin" href="{% url 'admin:index' %}"> <img src="{% static 'base/img/admin.png' %}"/>

                                <p>
                                    Admin
                                </p></a>
                        </li>
                        {% endif %}
                        <li id="basket_li">
                            <a id="basket" href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <div>6</div>
                                <img src="{% static 'base/img/basket.png' %}"/>

                                <p>
                                    Basket
                                </p>
                            </a>
                            {% include "basket.html" %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block breadcrumb_bar %}{% endblock %}

    <div id="main-container">
        <div id="main-content" class="left">
            {% block content %}{% endblock %}
        </div>
    </div>
    <div style="clear: both; line-height: 0;">&nbsp;</div>
    <div id="footer">
        <div><img src="{% static 'base/img/footer_logo.png' %}"/></div>
        <span class="right">Copyright 2013-Present, ISA agents team</span>
    </div>
</div>
</body>
</html>