{% load static from staticfiles %}
<div id="basket-menu" class="dropdown-menu">
    <img src="/bii_webapp/static/base/img/template.png" style="margin-top: 62px;margin-left: -132px;z-index: -1;"
         class="template_img">
    <ul>
        <li><span>6</span> Items in your basket</li>
        <li class="divider"></li>
        <li><a><img src="{% static 'base/img/basket_x.png' %}"/></a><a
                href="{% url 'browse.investigation.study.sample' 0 0 0 %}">GSM 33421</a><span>carbon 0.07 l/hour</span>
        </li>
        <li><a><img src="{% static 'base/img/basket_x.png' %}"/></a><a
                href="{% url 'browse.investigation.study.sample' 0 0 0 %}">GSM 33425</a><span>carbon 0.01 l/hour</span>
        </li>
        <li><a><img src="{% static 'base/img/basket_x.png' %}"/></a><a
                href="{% url 'browse.investigation.study.sample' 0 0 0 %}">GSM 33426</a><span>carbon 0.07 l/hour</span>
        </li>
        <li><a><img src="{% static 'base/img/basket_x.png' %}"/></a><a
                href="{% url 'browse.investigation.study.sample' 0 0 0 %}">GSM 33431</a><span>carbon 0.02 l/hour</span>
        </li>
        <li><a><img src="{% static 'base/img/basket_x.png' %}"/></a><a
                href="{% url 'browse.investigation.study.sample' 0 0 0 %}">GSM 33435</a><span>sulphur 0.07 l/hour</span>
        </li>
        <li><a><img src="{% static 'base/img/basket_x.png' %}"/></a><a
                href="{% url 'browse.investigation.study.sample' 0 0 0 %}">GSM 33442</a><span>sulphur 0.02 l/hour</span>
        </li>
    </ul>

    <a><img src="{% static 'browse/img/download2.png' %}"/></a>
    <a><img src="{% static 'browse/img/analysis.png' %}"/></a>
</div>