<div id="breadcrumb-wrapper">
    <ul class="breadcrumb left">
        {% for breadcrumb in request.breadcrumbs %}
        <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a> <span class="divider">/</span></li>
        {% endfor %}
    </ul>
    <div class="right"><a href="#">i</a></div>
</div>
<script>
    vars.pageNotice='{{pageNotice}}'
    $(document).ready(function () {
        $('#breadcrumb-wrapper div a').click(function () {
            if (vars.pageNotice)
                $().toastmessage('showToast', {
                    text: vars.pageNotice,
                    sticky: true,
                    type: 'notice',
                    position: 'top-right'
                });
        })
    });
</script>