/**
 * 	SEARCH PAGE
 */

#browse {
    background-color: rgb(89, 89, 90) !important;
    background-color: rgba(89, 89, 90, 0.4) !important;
}

.collapse {
    overflow: hidden;
    padding: 10px 0 0;
}

h3 {
    text-align: left;
}

/**
 * 	INVESTIGATION
 */
#results {
    margin: 0px;
    padding: 0px;
    width: 1084px;
}

.investigation {
    overflow: hidden;
}

.inv_id {
    float: left;
    width: 24px;
    margin-right: 10px;
    background-color: #f2f3f4;
    position: relative;
}

.inv_id:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: #cccdce;
}

.inv_id > div {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3) line-height:24px;
    white-space: nowrap;
    margin: 0px;
    font-weight: bold;
    font-size: 16px;
}

.inv_id a:hover {
    cursor: pointer;
    text-decoration: none;
}

/**
 * 	STUDIES
 */
.studies {
    float: right;
    width: 1050px;
}

.study a {
    color: #ffffff;
    display: block;
    overflow: hidden;
}

.study a:hover {
    text-decoration: none;
}

.study {
    overflow: hidden;
    min-height: 90px;
    margin-bottom: 10px;
}

.study_id {
    width: 70px;
    background-color: #24aae1;
    float: left;
    margin-right: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    z-index: 3;
    position: absolute;
}

.study_id > a:hover {
    text-decoration: none;
}

.study_id:hover {
    cursor: pointer;
    background-color: #1f93c2;
}

.study_info {
    width: 970px;
    float: right;
    font-size: 13px;
}

.study_char {
    width: 100%;
    background-color: #f2f3f4;
    padding-left: 10px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
}

.study_details {
    overflow: hidden;
}

.study_title {
    width: 480px;
    margin-right: 10px;
    float: left;
    line-height: 18px;
    word-wrap: break-word;
}

/**
 * 	ASSAYS
 */
.assays {
    float: right;
    width: 480px;
    font-size: 11px;
}

.assay {
    margin-left: 5px;
    margin-top: 5px;
    height: 90px;
    width: 150px;
    float: left;
}

.assay_type:hover {
    background-color: #cccdce;
}

.assay > a > div:first-child {
    background-color: #24aae1;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    padding: 0px 2px;
    width: 20px;
}

.assay_type {
    background-color: #f2f3f4;
    height: 70px;
    text-align: center;
    color: #6e6e70;
}

.assay_type div {
    text-align: center;
    width: 65px;
    height: 60px;
    float: left;
    margin-top: 12px;
}

.assay_type div {
    margin-left: 5px;
}

.assay_type img {
    margin-bottom: 3px;
    vertical-align: top;
    height: 20px;
    width: auto;
}

.assay_type p {
    margin: 0px;
    line-height: 11px;
}

.rep_container {
    margin-top: 25px;
    width: 1084px;
}

.rep_container2 {
    margin-bottom: 30px;
    overflow: hidden;
    width: 1084px;
}

.rep_container3 {
    margin-bottom: 20px;
    overflow: hidden;
    width: 1084px;
}

.rep_container p {
    margin: 3px 0px;
}

/**
GRAY TITLE
**/
.gray_title {
    color: #3e3e3f;
    margin: 10px 0px;
    padding: 7px 10px;
    background-color: #f3f3f4;
    font-size: 18px;
    min-height: 21px;
}

.gray_title .title_text {
    float: left;
    color: #3e3e3f;
}

.gray_title .title_text span {
    font-weight: bold;
    line-height: 13px;
}

.gray_title div {
    float: right;
    display: inline;
}

.gray_title div img {
    height: 28px;
    width: auto;
    margin-top: -3px;
}

/**
GRAY TITLE SIZE 50
**/
.gray_title50 {
    margin: 0px;
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    background-color: #f3f3f4;
    font-size: 20px;
    color: #3e3e3f;
}

.gray_title50 span {
    margin: 0px 10px;
    font-size: 20px;
}

.gray_title50 span a {
    font-size: 16px;
}

.gray_title50 > div div:first-child {
    float: left;
}

.gray_title50 > div div:last-child {
    float: right;
}

.gray_title50 img {
    height: 28px;
    width: auto;
    margin-top: -4px;
}

#after_grey_title {
    margin-top: 5px;
    font-size: 16px;
}

/**
GREY TITLE WITH BLUE LEFT BORDER AT START
**/

.b_left_blue {
    border-left: 10px solid #24aae1;
}

.b_left_orange {
    border-left: 10px solid orangered;
}

/**
HEADER
**/

.headerdivider {
    border-left: 5px white solid;
    margin-right: 0px;
    margin-left: 15px;
}

#rep_header_blue {
    height: 70px;
    background-color: #24aae1;
    padding: 0px 20px;
    line-height: 70px;
}

#rep_header_blue h1 {
    font-size: 35px;
    margin: 0px;
    line-height: 70px;
    color: white !important;
    float: left;
}

#rep_header_blue div {
    float: right;
}

#rep_header_blue img {
    height: 45px;
}

/**
DETAILS
**/

#rep_header_details {
    padding: 10px 0px 0px;
}

#rep_header_details p:first-child {
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    color: #3e3e3f;
}

#rep_header_details p:last-child {
    font-size: 14px;
}

/**
DEEP GRAY HEADERS
**/

.rep_header {
    background-color: #6e6e70;
    height: 45px;
    padding: 0px 6px 0px 20px;
    line-height: 45px;
}

.rep_header > div:first-child {
    height: 30px;
    padding: 0px 20px;
    line-height: 60px;
}

.rep_header h2 {
    line-height: 45px;
    color: #ffffff;
    float: left;
    margin: 0px;
    font-size: 28px;
}

.rep_header div {
    float: right;
}

.rep_header div:last-child {
    margin-right: 5px
}

.rep_header div img {
    margin-top: -3px;
    height: 35px;
}

/**
CONTACTS
**/

.rep_contact {
    font-size: 17px;
    margin-right: 10px;
    padding: 5px;
    background-color: #f3f3f4;
    float: left;
    width: 200px;
    word-wrap: break-word;
    line-height: 23px;
}

.rep_contact_name {
    font-weight: bold;
    color: #6e6e70;
}

/*EDITABLE OVERRIDES*/
.editable {
    border-bottom: none !important;
    font-style: normal !important;
}

.editable:hover {
    cursor: pointer;
}

.input-large {
    width: 460px !important;
}

.rep_top_container {
    overflow: visible;
}

.editable-error-block {
    clear: both;
}

#confirmDelete .modal-header {
    text-align: center;
}

#confirmDelete .modal-header h3 {
    text-align: center;
}

#confirmDelete .modal-footer {
    text-align: center;
}

#confirmDelete .modal-footer a {
    width: 50px;
    margin-right: 6px;
}

.editable-empty{
    color: #6e6e70;
}