@CHARSET "ISO-8859-1";

.field{
    min-width: 300px !important;
}

label{
  color:#3e3e3f !important;  
}

#forgot_pass{
	margin-left: 10px;
	display: inline;
	vertical-align: bottom;
}

label a{
  color:#24aae1; 
  font-weight: bold;
}

[readonly]{
	background-color:white!important;
}

p{
    color:#3e3e3f;
}

p a{
    color:#0088cc;
    font-weight: bold;
}

.errors{
    color:red;
}

.errorlist{
    color:red;
}

p a:hover,label a:hover{
    color:#005580;
}

h1+p{
	max-width: 600px;
}

