{% extends "browse_base.html" %}
{% load static from staticfiles %}
{% load tags %}
{% block extra_browse_css %}
<link href="{% static 'browse/css/assay.css' %}" rel="stylesheet">
<link href="{% static 'browse/css/study.css' %}" rel="stylesheet">
{% endblock %}
{% block title %}BII | Assay{% endblock %}
{% block browse_content %}
{% load static from staticfiles %}
<div id="rep_top_details" class="rep_container">
    <div id="rep_header_blue">
        <h1>{{study.s_id}}<span class="headerdivider">&nbsp;</span> {{assay.measurement|capFirstLetter}}</h1>
    </div>
    <div class="gray_title50">
        <div>
            <img src="{% static 'browse/img/measurements/'%}{{assay.measurement}}.png"/>
            <span>{{assay.measurement}}</span>
            <img src="{% static 'browse/img/technologies/'%}{{assay.technology}}.png"/>
            <span>
               {{assay.technology}}
            </span>
        </div>
    </div>
</div>


<div>
    {% for char_group in assay.characteristic_groups %}
    <div id="rep_assay_details" class="rep_container">
        <div class="gray_title50" style="background-color: transparent">
            <div>
                <div style="float: left;">
                    <img src="{% static 'browse/img/saccharomyces.png' %}">
                    <span>{{ char_group.organism }}{% if not forloop.last %}, {% endif %} </span>
                </div>
            </div>
        </div>
    </div>
    <div id="after_grey_title">
        {% for characteristic in char_group.characteristics %}
        <span>{{characteristic.type|cap}}
        <span><a>{{characteristic.value}}</a></span>
        </span>
        {% endfor %}
    </div>

    {% for study_group in char_group.study_groups %}
    <div class="group_columns">
        <div class="group_column">
            <div class="group_column_title">
                <span>{{study_group.study_group}}</span>

                <div style="float: right">
                    <div>
                        <a data-target="#collapse_{{ forloop.parentloop.counter}}_{{ forloop.counter}}"
                           data-toggle="collapse" href="#collapse_{{ forloop.parentloop.counter}}_{{ forloop.counter}}"
                           class="dropdown_button"><img class="collapsibleImage"
                                                        src="{% static 'browse/img/dropdown_grey.png' %}"/></a>
                    </div>
                </div>
            </div>

            <div class="group_rows collapse" id="collapse_{{ forloop.parentloop.counter}}_{{ forloop.counter}}">
                {% for sample in study_group.samples %}
                <div class="group_row">
                    <a href="{% url 'browse.investigation.study.sample' 1 1 1 %}"> {{sample.name}}</a>

                    <div>
                        {% if sample.raw_data_file %}
                        <img class="showagenttip" title="{{sample.raw_data_file}}"
                             src="{% static 'browse/img/raw_data.png' %}"/>
                        <!--<img src="{% static 'browse/img/processed_data.png' %}"/>-->
                        <!--<img src="{% static 'browse/img/analysis_result_gray.png' %}"/>-->
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
    {% endfor %}
    {% endfor %}

</div>

{% endblock %}

