{% extends "base.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}
{% block extracss %}
<link href="{% static 'browse/css/browse_base.css' %}" rel="stylesheet">
<link href="{% static 'libs/bootstrap/bootstrap-editable/css/bootstrap-editable.css' %}" rel="stylesheet">
{% block extra_browse_css %}
{% endblock %}

{% endblock %}
{% block no_compress_script %}
<script src="{% static 'libs/knockoutjs/knockout-2.2.1.js' %}"></script>
{% endblock %}
{% block extrascript %}
<script src="{% static 'libs/jquery/jquery.validate.min.js' %}"></script>
<script src="{% static 'libs/collapse.js' %}"></script>
<script src="{% static 'libs/bootstrap/bootstrap-editable/js/bootstrap-editable.min.js' %}"></script>
<script src="{% static 'libs/bootstrap/bootstrap-agenttip.js' %}"></script>
{% block extra_browse_script %}
{% endblock %}
<script src="{% static 'browse/js/init_browse.js' %}"></script>
{% endblock %}

{% block title %}BII | Investigation{% endblock %}

{% block breadcrumb_bar %}
{% include "breadcrumb_bar.html" %}
{% endblock %}

{% block content %}
{% block browse_content %}
{% endblock %}
{% endblock %}

