{% extends "browse_base.html" %}
{% load static from staticfiles %}
{% load tags %}
{% block extra_browse_css %}
<link href="{% static 'browse/css/study.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'libs/jquery/jquery.modal.css' %}" type="text/css" media="screen"/>
{% endblock %}
{% block extra_browse_script %}
<script>
    var study ='{% autoescape off %}{{study|jsonify}}{% endautoescape %}';
    study=study.replace(/\\n/g,"<br>");
    if (study && study.length > 0) {
        study = JSON.parse(study);
    }
    vars.study = study;
    vars.urls.updateStudy = "{% url 'browse.updateStudy' %}"
    vars.urls.browse = "{% url 'browse.browse' %}"
    vars.urls.deleteStudy = "{% url 'browse.deleteStudy' %}"
</script>
<script src="{% static 'create/js/models/contacts_model.js' %}"></script>
<script src="{% static 'create/js/models/study_assays_model.js' %}"></script>
<script src="{% static 'create/js/models/study_factors_model.js' %}"></script>
<script src="{% static 'create/js/models/study_protocols_model.js' %}"></script>
<script src="{% static 'create/js/models/study_spreadsheet_model.js' %}"></script>
<script src="{% static 'create/js/models/publications_model.js' %}"></script>
<script src="{% static 'create/js/models/study_model.js' %}"></script>
<script src="{% static 'browse/js/models/study_view_model.js' %}"></script>
<script src="{% static 'libs/jquery/jquery.modal.min.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block title %}BII | Study{% endblock %}
{% block browse_content %}

<div id="confirmDelete" class="modal" style="display:none">
    <div class="modal-header"><h3>Are you sure you want to delete this study?</h3></div>
    <div class="modal-footer"><span><a href="javascript:deleteStudy()" class="btn btn-info">Yes</a><a
            class="btn btn-info" href="#" rel="modal:close">No</a></span></div>
</div>

<div id="rep_top_details" class="rep_container">
    <div id="rep_header_blue">
        <h1 data-bind='text: studies()[0].s_id()'></h1>

        <div>
            <!--<a href=""><img src="{% static 'browse/img/download.png' %}"/></a>-->
            <a rel="modal:open" href="#confirmDelete"><img src="{% static 'browse/img/delete.png' %}"/></a>
        </div>
    </div>

    <div id="rep_header_details">
        <p class="editable_field" data-name="s_title" data-type="textarea" data-original-title="Enter study title"
           data-bind='html: studies()[0].s_title'>
        </p>

        <p class="editable_field" data-name="s_description" data-type="textarea"
           data-original-title="Enter study description" data-bind='html: studies()[0].s_description'>
        </p>

    </div>
</div>

<div id="rep_publications" class="rep_container">
    <div class="rep_header">
        <h2>Publications</h2>

        <div>
            <a data-target="#collapse_pubs" data-toggle="collapse" href="#collapse_pubs" class="dropdown_button"><img
                    src="{% static 'browse/img/dropdown.png' %}"/></a>
        </div>
    </div>

    <div id="collapse_pubs" class="collapse in" data-bind="foreach:studies()[0].s_pubs_model.publications">
        <p class="gray_title" data-name="pub_title" data-type="textarea"
           data-original-title="Enter publication title" data-bind='text: pub_title'></p>

        <p data-name="pub_author_list" data-type="textarea"
           data-original-title="Enter publication author list" data-bind='text: pub_author_list'>
        </p>
        <!-- ko if: pubmed_id -->
        <a data-bind='attr:{href:"http://www.ncbi.nlm.nih.gov/pubmed/"+pubmed_id}'>Link to publication</a>
        <!-- /ko -->
        <!-- ko if:!pubmed_id-->
        <!-- ko if: pub_doi-->
        <a data-bind='attr:{href:"http://dx.doi.org/"+pub_doi}'>Link to publication</a>
        <!-- /ko -->
        <!-- /ko -->
    </div>

</div>

<div id="rep_contacts" class="rep_container">
    <div class="rep_header">
        <h2>Contacts</h2>

        <div>
            <a data-target="#collapse_contacts" data-toggle="collapse" href="#collapse_contacts"
               class="dropdown_button"><img
                    src="{% static 'browse/img/dropdown.png' %}"/></a>
        </div>
    </div>

    <div id="collapse_contacts" class="collapse in" data-bind="foreach:studies()[0].s_contacts_model.contacts">
        <div class="rep_contact">
            <div class="rep_contact_name">
                <span data-name="person_name"
                      data-original-title="Enter contact name midinitials and surname"
                      data-bind='text: $data.person_first_name +" "+($data.person_mid_initials?$data.person_mid_initials+".":"")+" "+$data.person_last_name'></span>
            </div>
            <span data-name="person_affiliation" data-original-title="Enter contact organisation"
                  data-bind='text: $data.person_affiliation'></span>
        </div>
    </div>
</div>

<div id="rep_assays" class="rep_container">
    <div class="rep_header">
        <h2>Assays</h2>

        <div>
            <a data-target="#collapse_assays" data-toggle="collapse" href="#collapse_assays"
               class="dropdown_button"><img
                    src="{% static 'browse/img/dropdown.png' %}"/></a>
        </div>
    </div>

    <div id="collapse_assays" class="assays collapse in">

        <div class="assays">
            {% for assay in study.s_assays %}
            <div class="assay">
                <a href="{% url 'browse.study.assay' study.s_id assay.measurement_ assay.technology_ %}">
                    <div>
                        {{assay.assay_type_count}}
                    </div>
                    <div class="assay_type">
                        <div>
                            <img src="{% static 'browse/img/measurements/'%}{{assay.measurement}}.png"/>

                            <p>
                                {{assay.measurement}}
                            </p>
                        </div>
                        <div>
                            <img src="{% static 'browse/img/technologies/'%}{{assay.technology}}.png"/>

                            <p>
                                {{assay.technology}}
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


<div id="rep_groups" class="rep_container">
    <div class="rep_header">
        <h2>Study Groups</h2>

        <div>
            <a data-target="#collapse_groups" data-toggle="collapse" href="#collapse_groups"
               class="dropdown_button"><img
                    src="{% static 'browse/img/dropdown.png' %}"/></a>
        </div>
    </div>

    <div class="collapse in" id="collapse_groups">
        {% for group in study.s_groups %}
        <div class="group_details">
            <div id="collapse_a{{ forloop.counter }}" class="group_columns collapse in">
                <div class="group_column">
                    <div class="group_column_title">
                        <span>{{group.study_group}}</span>

                        <div style="float: right">
                            <span style="font-weight: bold;font-size: 16px;">Count</span>
                            <span class="group_count">{{group.member_count}}</span>

                            <div>
                                <a data-target="#collapse_a{{ forloop.counter}}s1" data-toggle="collapse"
                                   href="#collapse_a{{ forloop.counter}}s1"
                                   class="dropdown_button"><img class="collapsibleImage"
                                                                src="{% static 'browse/img/dropdown_grey.png' %}"/></a>
                            </div>
                        </div>
                    </div>

                    <div class="group_rows collapse" id="collapse_a{{ forloop.counter }}s1">
                        {% for member in group.members %}
                        <div class="group_row">
                            <a href="{% url 'browse.investigation.study.sample' investigation.i_id study.s_id forloop.counter %}">GSM
                                {{member}}</a>

                            <div>
                                <!--{% if sample.raw_data_file %}-->
                                <!--<img class="showagenttip" src="{% static 'browse/img/raw_data.png' %}"/>-->
                                {% endif %}
                                <!--<img src="{% static 'browse/img/processed_data.png' %}"/>-->
                                <!--<img src="{% static 'browse/img/analysis_result_gray.png' %}"/>-->
                            </div>
                        </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

