{% extends "base.html" %}
{% load widget_tweaks %}
{% load static from staticfiles %}
{% load render_table from django_tables2 %}
{% block extracss %}
<link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}"/>
<link rel="stylesheet" href="{% static 'files/css/files.css' %}"/>
{% endblock %}
{% block extrascript %}
<script src="{% static 'files/js/files_init.js' %}"></script>
{% endblock %}
{% block title %}BII | Files{% endblock %}
{% block content %}
<div>
    <h2>ISA-Tab Files</h2>
    {% render_table table %}
</div>
{% endblock %}