input[type='checkbox'] {
    border: 1px solid #cccccc;
    width: 20px !important;
    height: 20px;
    background: white;
    border-radius: 3px;
    margin-bottom: 7px;
}

input[type='checkbox']:checked {
    background: #cccccc;
}

h4 {
    margin-top: 20px;
}

#create-container .config_box {
    border: 5px #6e6e70 solid;
    border-radius: 0px;
    min-width: 600px;
    min-height: 300px;
    list-style: none;
    margin: 0px 0px !important;
}

#create-container .config_box a {
    color: white;
    padding: 10px;
    display: block;
    background-color: gray;
    border: 6.5px solid white;
    border-bottom: none;
}

#create-container .config_box a:hover {
    text-decoration: none;
    background-color: #24aae1 !important;
}

#create-container .config_box a:first-child {
    border-radius: 6px 6px 0px 0px;
}

.study_edit {
    padding: 10px;
    background-color: white;
    border: 1px solid #CCC;
    max-width: 741px;
    width: 741px;
}

.study_edit input {
    font-family: Arial;
}

.study_edit b {
    font-weight: bold;
}

.study_edit p {
    margin-top: 0.9em;
    margin-bottom: 0.9em;
}

.study_edit select[multiple] {
    width: 100%;
    height: 8em;
}

.study_edit h2 {
    margin-top: 0.4em;
    font-weight: bold;
    font-size: 1.2em;
}

.study_edit table, .study_edit td, .study_edit th {
    padding: 0.2em;
    border-width: 0;
}

.study_edit td input {
    width: 20em;
}

textarea {
    width: 20em;
}

tr {
    vertical-align: top;
}

tr td:first-child {
    max-width: 200px;
    width: 200px;
}

.study_edit .error {
    border: 1px solid red;
    background-color: #FDC;
}

.study_edit label.error {
    display: block;
    color: Red;
    font-size: 0.8em;
    border: none;
    background-color: transparent;
}

.study_edit th {
    font-weight: bold;
}

#num_of_studies {
    font-size: 18px;
    background-color: #6e6e70;
    padding: 10px;
    color: white;
}

#num_of_studies > span {
    font-weight: bold;
    font-size: 20px;
}

.add_item {
    font-size: 20px;
}

.add_item > a {
    text-align: center;
}

.nav-tabs > li {
    margin-bottom: -2px;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -2px;
}

.nav-tabs > li img:hover {
    cursor: pointer !important;
}

#inv_study_tab img {
    width: 14px;
    height: 13px;
}

.nav-tabs > li img {
    width: 12px;
    height: 11px;
    margin-right: 4px;
    margin-left: -6px;
    margin-top: -2px;
    padding: 5px;
}

.upload_button {
    text-align: center;
    margin-top: 20px;
}

.upload_button > button {
    width: 210px;
    height: 37px;
}

.a_remove:hover {
    cursor: pointer !important;
    background-color: transparent !important;
}

.study_edit .study_li {
    height: 43px;
}

.a_remove {
    float: left;
    min-width: 0px !important;
    margin-top: 0px;
    padding-right: 0px !important;
    border: none !important;
    margin-left: 19px;
}

.a_study {
    float: right;
    min-width: 0px !important;
}

.a_inv {
    font-size: 18px;
    font-weight: bold;
}

#upload_modal {
    width: 945px !important;
    margin-left: -486px !important;
    height: 758px !important;
    max-height: 758px;
    margin-top: -390px !important;
    overflow: visible;
}

#upload_modal > .modal-header {
    padding: 0px;

    text-align: center;
}

#upload_modal > .modal-body {
    width: 945px !important;
    height: 670px !important;
    overflow: visible;
}

#upload_modal > .modal-footer {
    width: 785px;
    margin-top: -40px;
}

.modal {
    width: 1145px !important;
    max-width: 1145px;
    padding: 10px !important;
    margin-left: -583px !important;
    overflow: auto;
    height: 742px;
    max-height: 700px;
    margin-top: -350px;
}

.modal-header {
    border-bottom: none;
}

.modal-header > h1 {
    font-size: 30px !important;
    padding: 0px !important;
}

.modal-body {
    max-height: none !important;
    height: 530px !important;
    padding: 0px !important;
    width: 1140px !important;
    max-height: 1140px !important;
}

.modal-footer {
    background-color: white;
    border: none;
    width: 1100px;
}

.main-connector {
    left: 471px !important;
    top: 57px !important;
}

#upload_file_title {
    text-align: center;
    margin: 10px 0px 40px;
}

#upload_file_title > div:first-child {
    text-align: center;
    margin-bottom: 15px;
    display: inline;
    border-bottom: 4px solid #6e6e70;
    padding: 17px 15px 11px;
    border-radius: 10px;
    background-color: #f2f3f4;
}

#upload_file_title > div:first-child > h3 {
    display: inline;
}

/*Breadcrumb override*/
#breadcrumb-wrapper {
    margin-bottom: 0px;
    border-bottom: 3px solid white;
    background-color: #6e6e70;
}


#breadcrumb-wrapper .breadcrumb {
    background-color: #6e6e70;
}

.breadcrumb > li > a {
    color:white;
}

.breadcrumb > li .divider {
    color:white;
}

.tab-content{
    overflow:hidden;
}