<h2>INVESTIGATION DESCRIPTION</h2>
<table>
    <tbody>
    <tr>
        <td>
            Skip Investigation
        </td>
        <td>
            <input id="i_skip_investigation" type="checkbox" data-bind="checked: investigation().i_skip_investigation">
        </td>
    </tr>
    <tr>
        <td style="line-height: 15px">Investigation Identifier</td>
        <td><input type="text" class="required" data-bind='value: investigation().i_id, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Investigation Title</td>
        <td><input type="text" class="required" data-bind='value: investigation().i_title, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Investigation Description</td>
        <td><textarea class="required" data-bind='value: investigation().i_description, uniqueName: true'></textarea></td>
    </tr>
    <tr>
        <td>Investigation Submission Date</td>
        <td><input type="date"
                   data-bind='value: investigation().i_submission_date, uniqueName: false'/></td>
    </tr>
    <tr>
        <td>Investigation Public Release Date</td>
        <td><input type="date"
                   data-bind='value: investigation().i_public_release_date, uniqueName: false'/></td>
    </tr>
    </tbody>
</table>

<h2>INVESTIGATION PUBLICATIONS(<span data-bind='text: investigation().i_pubs_model.publications().length'></span>)</h2>
<div class="tabbable">
    <ul id="i_pubs_main_tab" class="nav nav-tabs">
        <!-- ko if: investigation().i_pubs_model.publications().length ==0 -->
        <li><a href="#" class="add_item" data-bind='click: investigation().i_pubs_model.addPublication'
               data-toggle="tab">+</a>
        </li>
        <!-- /ko -->

        <!-- ko foreach:investigation().i_pubs_model.publications -->
        <li data-bind="attr: {class:$root.activeState($($element))}">
            <a data-bind="attr: { href:'#i_pubs_tab' + ($index()+1)}" data-toggle="tab">
                <img data-bind='click: $parent.investigation().i_pubs_model.removePublication'
                     src="/bii_webapp/static/base/img/basket_x.png" onclick="javascript:selectDefaultStudy(this)">
                Publication
                <span data-bind="text: ($index()+1)"></span></a></li>
        <!-- ko if: ($index() === ($parent.investigation().i_pubs_model.publications().length - 1)) -->
        <li><a href="#" class="add_item" data-bind='click: $parent.investigation().i_pubs_model.addPublication'
               data-toggle="tab">+</a>
        </li>
        <!-- /ko -->
        <!-- /ko -->
    </ul>
    <div class="tab-content">
        <!-- ko foreach: investigation().i_pubs_model.publications -->
        <div class="tab-pane"
             data-bind="attr: { id:'i_pubs_tab'+($index()+1),class:$root.activeState($($element))} ">
            {% include "study_publications.html" %}
        </div>
        <!-- /ko -->
    </div>
</div>

<h2>INVESTIGATION CONTACTS(<span data-bind='text: investigation().i_contacts_model.contacts().length'></span>)</h2>

<div class="tabbable">
    <ul id="i_contacts_main_tab" class="nav nav-tabs">

        <!-- ko if: investigation().i_contacts_model.contacts().length ==0 -->
        <li><a href="#" class="add_item" data-bind='click:investigation().i_contacts_model.addContact'
               data-toggle="tab">+</a>
        </li>
        <!-- /ko -->

        <!-- ko foreach:investigation().i_contacts_model.contacts -->
        <li data-bind="attr: {class:$root.activeState($($element))}">
            <a data-bind="attr: { href:'#i_contacts_tab' + ($index()+1)}" data-toggle="tab">
                <img data-bind='click: $parent.investigation().i_contacts_model.removeContact'
                     src="/bii_webapp/static/base/img/basket_x.png" onclick="javascript:selectDefaultStudy(this)">
                Contact
                <span data-bind="text: ($index()+1)"></span></a></li>

        <!-- ko if: ($index() === ($parent.investigation().i_contacts_model.contacts().length - 1)) -->
        <li><a href="#" class="add_item" data-bind='click: $parent.investigation().i_contacts_model.addContact'
               data-toggle="tab">+</a>
        </li>
        <!-- /ko -->
        <!-- /ko -->
    </ul>
    <div class="tab-content">
        <!-- ko foreach: investigation().i_contacts_model.contacts -->
        <div class="tab-pane"
             data-bind="attr: { id:'i_contacts_tab'+($index()+1),class:$root.activeState($($element))} ">
            {% include "study_contacts.html" %}
        </div>
        <!-- /ko -->
    </div>
</div>