<table>
    <tbody>
    <tr>
        <td>Study PubMed ID</td>
        <td><input class="required" type="text"
                   data-bind='value:pub_med_id, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Publication DOI</td>
        <td><input class="required" type="text"
                   data-bind='value:pub_doi, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Publication Author List</td>
        <td><textarea class="required"
                      data-bind='value:pub_author_list, uniqueName: true'></textarea></td>
    </tr>
    <tr>
        <td>Study Publication Title</td>
        <td><input type="text" class="required"
                   data-bind='value:pub_title, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Publication Status</td>
        <td><input type="text" class="required"
                   data-bind='value:pub_status, uniqueName: true'/></td>
    </tr>
    </tbody>
</table>