<table>
    <tbody>
    <tr>
        <td>Study Protocol Name</td>
        <td><input class="required" type="text" 
                   data-bind='value:protocol_name, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Protocol Type</td>
        <td><input class="required" type="text" 
                   data-bind='value:protocol_type, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Protocol Description</td>
        <td><input class="required" type="text"
                   data-bind='value:protocol_description, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Protocol URI</td>
        <td><input type="text" 
                   data-bind='value:protocol_uri'/></td>
    </tr>
    <tr>
        <td>Study Protocol Version</td>
        <td><input type="text" 
                   data-bind='value:protocol_version'/></td>
    </tr>
    <tr>
        <td>Study Protocol Parameters Name</td>
        <td><input type="text" 
                   data-bind='value:protocol_parameters_name'/></td>
    </tr>
    <tr>
        <td>Study Protocol Components Name</td>
        <td><input type="text" 
                   data-bind='value:protocol_components_name'/></td>
    </tr>
    <tr>
        <td>Study Protocol Compoenents Type</td>
        <td><input type="text" 
                   data-bind='value:protocol_components_type'/></td>
    </tr>
    </tbody>
</table>