<table>
    <tbody>
    <tr>
        <td>Study Person REF [c]</td>
        <td><input type="text" 
                   data-bind='value: person_ref'/></td>
    </tr>
    <tr>
        <td>Study Person Last Name</td>
        <td><input class="required" type="text"
                   data-bind='value: person_last_name, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Person First Name</td>
        <td><input class="required" type="text"
                   data-bind='value: person_first_name, uniqueName: true'/></td>
    </tr>
    <tr>
        <td>Study Person Mid Initials</td>
        <td><input type="text" 
                   data-bind='value: person_mid_initials'/></td>
    </tr>
    <tr>
        <td>Study Person Email</td>
        <td><input type="text" 
                   data-bind='value: person_email'/></td>
    </tr>
    <tr>
        <td>Study Person Phone</td>
        <td><input type="text" 
                   data-bind='value: person_phone'/></td>
    </tr>
    <tr>
        <td>Study Person Fax</td>
        <td><input type="text" 
                   data-bind='value: person_fax'/></td>
    </tr>
    <tr>
        <td>Study Person Address</td>
        <td><input type="text" 
                   data-bind='value: person_address'/></td>
    </tr>
    <tr>
        <td>Study Person Affiliation</td>
        <td><input type="text" 
                   data-bind='value: person_affiliation'/></td>
    </tr>
    <tr>
        <td>Study Person Roles</td>
        <td><input type="text" 
                   data-bind='value: person_roles'/></td>
    </tr>
    </tbody>
</table>