<table>
    <tbody>
    <tr>
        <td>Select Measurement</td>
        <td>
            <select data-bind="options: availableMeasurements,  value: measurement, optionsText: 'measurement'"></select>
    </tr>
    <tr>
        <td>Select Technology</td>
        <td>
            <select data-bind="attr: {'id':'technologiesSelect'+($index()+1)},options: availableTechnologies, optionsText: 'technology', value: technology"></select>
    </tr>
    <tr>
        <td>Select Platform</td>
        <td>
            <select data-bind="attr: {'id':'platformsSelect'+($index()+1)},options:availablePlatforms,  value: platform"></select>
    </tr>
    <tr>
        <td>Edit Spreadsheet</td>
        <td>
            <a class="btn btn-info" rel="modal:open"
                    data-bind="text: filename,attr: {'href':'#modal'+($index()+1)},click:function(){spreadsheet.addSpreadSheet(true)}"></a>
    </tr>
    </tbody>
</table>

<div data-bind="attr: {'id':'modal'+($index()+1)}" class="modal" style="display:none">
    <div class="modal-header"><h1 data-bind="text: filename"></h1></div>
    <div data-bind="attr: {'id':'modal-body'+($index()+1)}" class="modal-body"></div>
    <div class="modal-footer"><span><a class="btn btn-info" href="#" rel="modal:close">Close</a> or press ESC</span></div>
</div>


